#root {
  width: 100%;
  min-height: 100vh;
  background-color: transparent;
  margin: 0 auto;
  /* padding: 2rem; */
  text-align: center;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.chart-container{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60%;
  margin: 0 auto;
  max-height:37.5rem;
}