@font-face {
  font-family: "DM-Sans";
  src: url('./assets/DM_Sans/DM_Sans/DMSans-VariableFont_opsz,wght.ttf') format('truetype');
}

:root {
  font-family: "DM-Sans", Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: rgb(29, 29, 29);
}

body {
  margin: 0;
  min-width: 320px;
  /* min-height: 100vh; */
  font-family: inherit;
  background-color: inherit;
  color: inherit;
}


h1 {
  font-size: 3.2em;
  line-height: 1.1;
}
