body {
    background-color: #858FFF;
    height: 100vh;
}

.container {
    /* border: 1px solid red; */
    background-color: white;
    border-radius: 8px;
    margin: 0 0;
}

.row {
    background-color: #E7F2FF;
    align-items: center;
    border-radius: 8px;
}

