.sign-up-form {
    width: 100%;
    margin: 40px auto;
    border: 7px solid #1E90FF;
    border-radius: 10px;
}

.submit-button {
    background-color: #0047AB;
    color: white;
    padding: 10px 20px;
    border: black;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold, italic;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.submit-button:hover {
    background-color: #1F75FE;
    transform: scale(1.05);
    color: white;
}