/* file: pages/Quiz/QuizResult.css*/
/* 
.container {
    width: 80%;
    margin: 130px auto;
    border: 7px solid #1E90FF;
    border-radius: 10px;
    text-align: center;
}

.table-header {
    text-align: center;
    padding: 18px 0;
}

.table-body {
    text-align: center;
    padding: 18px 0;
} */
